{% extends 'base.html' %}

{% block content %}


<div style='height:100px'></div>
{% for b in book.all %}
<div class='bookdetail'>
  <img class='detailimg' src={{b.image_url}} alt=''>
  
  <div class='detailinfo'>
  <p class='aaaa'><strong class='aaa'>Title:</strong> {{b.title}}</p>
  <p class='aaaa'><strong class='aaa'>Author:</strong> {{b.author}}</p>
  <p class='aaaa'><strong class='aaa'>Description:</strong> {{ b.description}}</p>
  <p class='aaaa'><strong class='aaa'>Age:</strong> {{ b.age_group}}</p>
  </div>

</div>
{% if user.is_authenticated %}
<form action="{% url 'add_review' b.id %}" method='POST'>
  {% csrf_token %}
  
  {{ review_form.as_p }}
  <input type="submit" class="btn" value="Add Review">
</form>
{% endif %}
<div >

 

    <br>
    <table class="striped">
      <thead>
        <tr><th>Review</th></tr>
      </thead>
      <tbody>
       
        {% for review in review %}
          <tr>
            <td>{{user.username}}: {{review.review}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>



{% endfor%}
{% endblock %}