{% extends 'base.html' %}

{% block content %}

<h1>Child Details</h1>

<p>Name: {{ child.name }}</p>
<p>Age: {{ child.age_group }}</p>

<div class="card-action">
    <a href="{% url 'child_update' child.id %}">Edit</a>
    <a href="{% url 'child_delete' child.id %}">Delete</a>
  </div>

  <div class="row">
    <div >
      <h3>{{ child.name }}'s Books</h3>
      {% if child.books.count %}
      <div class="owned">
        {% for book in child.books.all %}
          <div class="card c">
            <div class="card-content">
              <img class='bookImg' style='margin:0auto' src='{{book.image_url}}'/>
                <div><strong style='color:blue'>Title:</strong> {{ book.title}}</div>
                <div><strong style='color:blue'>Author:</strong> {{ book.author}}</div>
                <div><strong style='color:blue'>Description:</strong> {{ book.description}}</div>
            </div>
            <div class="card-action">
              
              <form action="{% url 'disassoc_book' child.id book.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <h5>No Books 😿</h5>
      {% endif %}
    </div>
    <!-- Available toys will come after this line -->
  </div>
  <!-- Available toys will come after this line -->
  <!-- New Markup Below -->
  <div >
<h3>Available Books for {{child.name}}'s age</h3>
    <div class="tt">
        

        {% if books.count %}
          {% for book in books.all %}
           {% if book not in child.books.all %}

              <div class="card">
                <div class="card-content">
                  <img class='bookImg' src='{{book.image_url}}'/>
                  {{book.title}}
                </div>
                <div class="card-action">
                  <form action="{% url 'assoc_book' child.id book.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                  </form>
                </div>
              </div>
              {% endif %}
              {% endfor %}
        {% else %}
          <h5>{{child.name}} Already Has Read All The Available Books</h5>
        {% endif %}
       
      </div>  

{% endblock %}