{% extends 'base.html' %}

{% block content %}
<div class='parent1'>
  <div class=''>
  <div class='imgback'>  <img class='parentpic' src='https://clipartart.com/images/parent-clipart-png-6.png'></img></div>
  </div>
  <p class='child1' style='text-align:center;font-size:30px'>
    {{user.username}}    
    
  </p>
  
</div>

<h1 class='addingmi'>Your Munchkins
  <a href={% url 'child_create' %}>
    <p class='addsvg' >
    <svg xmlns="http://www.w3.org/2000/svg" height="48" fill='orange' viewBox="0 -960 960 960" width="48"><path d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/></svg>
    <p>
      
    </a>


</h1>


{% if children %}

{% for child in children %}
  
  <a href="{% url 'detail' child.id %}">
    <p class='children'>Child Name: {{child.name}}</p>

  </a>
{% endfor %}
{% else %}

<p>No Child</p>

{% endif%}
 
<script>
  const selectEl = document.getElementById('id_');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}