body{
   color: rgb(211, 109, 0);
    background: linear-gradient(180deg, #80FFC9 0%, #F5CC63 100%);   
    overflow-x : hidden;
    height: auto;
}
.svg{
  
    height: 90vmin;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.sun{
    width: 30vmin;
    height: 30vmin;
    opacity: 0.5;
    position: absolute;
    top: 10vmin;
    z-index: -20;

}
.bookImg{
    height: 15vmin;
    width: 18vmin;
    z-index: 2;
}

.bookimgdiv{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    margin: 0 auto;
  
}
li>.brand-logo{color: rgb(211, 109, 0);}
.menu{color: rgb(211, 109, 0);}
.nav-wrapper{
    background: #10D78F;
    color: rgb(211, 109, 0);
    box-shadow: 40px 40px 73px rgba(0, 0, 0, 0.45);
}
.page-footer{
    background: #10D78F;
    box-shadow: 40px 40px 73px rgba(0, 0, 0, 0.45);
}
.children{
    background: rgba(255, 243, 134, 0.42);
    box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
   margin-top: 100px;
   background: rgba(255, 243, 134, 0.42);
   box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
   border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.tt{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.card-content{
    display: flex;
    
    flex-direction: column;
}
.owned{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    width: 23vmin;
   background: rgba(255, 243, 134, 0.42);
   box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
   border-radius: 20px;
}
.c{
    width:25vmin;
}
.parentImage{
    height: 40vmin;
    width: 40%;
}
.parentInfo{
    height: 40vmin;
    width:60%
}