body{
   color: rgb(211, 109, 0);
    background: linear-gradient(180deg, #80FFC9 0%, #F5CC63 100%);   
    overflow-x : hidden;
    height: auto;
}
.boss{
    width: 10vmin;
    height:10vmin;
}
.svg{
  
    height: 90vmin;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    
}
.addsvg{
    background-color: #0eab71;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addingmi{
    display: flex;
    gap: 20px;
    align-items: center;
}
.childinfodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.childinf{
    font-size: 40px;
}
.sun{
    width: 30vmin;
    height: 30vmin;
    opacity: 0.5;
    position: absolute;
    top: 10vmin;
    z-index: -2;

}
.bookImg{
    height: 22vmin;
    width: 17.7vmin;
    z-index: 2;
    border-radius: 0px 30px 30px 0px;
}
a{
    z-index: 2;
}
.bookimgdiv{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    margin: 0 auto;
    z-index: -2;
    box-shadow: 40px 40px 73px rgba(0, 0, 0, 0.45);
    background-color: #f5cc6354;
  
}

.bookdetail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3%
}
.detailimg{
    width: 320px;
    height: 350px;
    border-radius: 0px 20px 20px 0px;
}

#id_review{
    width: 100%;
    justify-content: left;
}

li>.brand-logo{color: rgb(211, 109, 0);}
.menu{color: rgb(211, 109, 0);}
.nav-wrapper{
    background: #10D78F;
    color: rgb(211, 109, 0);
    box-shadow: 40px 40px 73px rgba(0, 0, 0, 0.45);
}
.page-footer{
    background: #10D78F;
    box-shadow: 40px 40px 73px rgba(0, 0, 0, 0.45);
}
.children{
    background: rgba(255, 243, 134, 0.42);
    box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
    border-radius: 20px;
    height: 100px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.bbb{
        font-size: 25px;
        margin-bottom: 40px;
        margin-top: 40px;
        text-align: justify;
        border-radius: 20px
}
label{
    color: #0eab71;
}
.parent{
   margin-top: 100px;
   background: rgba(255, 243, 134, 0.42);
   box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
   border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.parent1{
    margin-top: 100px;
    border-radius: 20px;
     display: flex;
     gap: 30px;
     flex-direction: column;
     justify-content: space-between;
     width: 100%;
     align-items: center;
 }
.imgback{
    background-color:#0eab71;
    border-radius: 50%;
    padding: 50px;
    
}
.parentpic{
    width:280px;
    height:280px;
}
.child{
    background: rgba(255, 243, 134, 0.42);
    box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
    border-radius: 20px;
     display: flex;
     
    padding: 10px;
     align-items: center;
     width: 500px;
     text-align: center;
 }
 .aaa{
    color: rgb(7, 170, 7);
 }
.aaaa{
font-size: 23px;
        background: rgba(255, 243, 134, 0.42);
        box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
        border-radius: 20px;
        padding: 10px;
         width: 500px;
         text-align: left;
     
}
 .child1{
    background: rgba(255, 243, 134, 0.42);
    box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
    border-radius: 20px;
     display: flex;
    padding: 10px;
    justify-content: center;
     align-items: center;
     width: 500px;
     text-align: left;
 }
.tt{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.card-content{
    display: flex;
    
    flex-direction: column;
}
.owned{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    width: 23vmin;
   background: rgba(255, 243, 134, 0.42);
   box-shadow: 40px 40px 73px 2px rgba(171, 91, 91, 0.45);
  
}
.c{
    width:25vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.parentImage{
    height: 40vmin;
    width: 40%;
}
.parentInfo{
    height: 40vmin;
    width:60%
}